@media (min-width: 600px) {
body {

    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    z-index: index 9;
}

.header {
    padding-left: 10px;
    padding-top: 0px;
    text-align: left;
    color: black;
    font-size: 15px;
font-family: "balboa", sans-serif;
font-weight: 700;
font-style: normal;
letter-spacing: 3pt;
  }
  .header2 {
    padding-top: 10px;
    text-align: left;
    color: black;
    font-size: 15px;
font-family: "balboa", sans-serif;
font-weight: 700;
font-style: normal;
letter-spacing: 3pt;
  }

  .verticalStrip {
    position: fixed;
    top: 0%;
    right: 12%;
    width: 130px;
    height: 70%;
    z-index: 8;
  }

.gallery {
    justify-content: center;
    align-items: center;
    margin-left: 10%;
margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5%;
}

.gallery-item {
    position: relative;
    height: 400px; /* Adjust the size as needed */
 /* Adjust the size as needed */
    overflow: hidden;
    transition: transform 0.3s;
}

.gallery-item img {
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.3s;
}

.gallery-item:hover {
    transform: scale(1.7); /* Adjust the scaling factor as needed */
    z-index: 9;
}

.gallery-item:hover img {
    transform: scale(1.2); /* Adjust the scaling factor as needed */
}

.backarrow {
    position: fixed; 
    bottom: 0px; 
    left: 0px
  }
    .backarrow img {
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  }

  .backarrow:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
    
  }
}